clclc/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
img{
    max-width: 100%;
}
/* classe per il body */
body{
    font-family: 'Open Sans', sans-serif;
}
/* COMMON CLASS */
/* classe in comune per i container grandi (larghezza maggiore)*/
.container-b{
    margin:0 auto;
    max-width: 1200px;
    width: 80%;
}
/* classe in comune per i container piccoli (larghezza minore) */
.container-s{
    margin: 0 auto;
    max-width: 1000px;
    width: 70%;
    /* debug */
    min-height: 3000px;
    border: 3px solid black;
    margin-bottom: 100px;
}
.container-ss{
    margin: 100px auto;
    max-width: 1000px;
    width: 70%;
    /* debug */
    min-height: 600px;
    background-color: violet;
    border: 3px solid black;
}
/* classe in comune per tutti i bottoni blu */
.button{
    background-color: #0061ff;
    color: #d9e8ff;
    padding: 0.5rem 1.3rem;
}
/* HEADER*/
header{
    width: 100%;
    background-color: #b4d0e7;
    margin-bottom: 100px;
}
/* classe per la barra dell'header */
.bar-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
}
/* classe per il blocco della barra dell'header di sinistra */
.bar-l{
    padding: 1.5rem;
}
/* classe per il blocco della barra dell'header di destra */
.bar-r{
    padding: 1.5rem;
}
/* classe per la lista dentro la barra dell'header */
header ul{
    list-style-type: none;
    display: flex;
}
/* classe per i li dentro la lista dell'header */
header li{
    margin-right: 20px;
}
/* classe per le a dentro l'header */
header a{
    text-decoration: none;
    color: black;
}
/* classe per il nome di dropbox dentro la barra dell'header */
.name{
    font-weight: bold;
    font-size: 1.2rem;
}
/* id per colorare di blu il simbolo di dropbox */
#blue{
    color: #0061ff;
}
/* classe per il titolo */
.titolo{
    /* margine per spingere il titolo sotto l'header */
    margin-top: 80px;
    padding-top: 2rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
/* classe per l'hero dentro l'header */
.hero{
    display: flex;
    justify-content: space-between;
}
/* classe per la colonna di sinistra dell'hero */
.col-s{
    width: 30%;
}
/* classe per il testo dell'hero */
.testo-hero{
    padding-bottom: 1rem;
}
/* classe per il testo sotto il bottone dell'hero */
.testo-hero-sotto{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* classe per la freccia dell'hero */
.freccia-hero{
    font-size: 2.5rem;
}
/* classe per la colonna di destra dell'hero */
.col-b{
    padding: 1rem;
    width: 60%;
}
/* MAIN */
/* PRIMO BLOCCO */
/* classe per il bordo del primo blocco */
.primo-blocco{
    margin-bottom: 100px;
}
/* classe per il titolo del primo blocco */
.titolo-s{
    padding: 1rem;
    font-size: 1.5rem;
}
/* classe per i bottoni della */
.fatturazione-btn{
    font-size:  1.3rem;
    padding: 1rem;
}
/* classe per il blocco con 3 colonne */
.col-3{
    width: 100%;
}
/* classe per la riga del primo blocco */
.row{
    display: flex;
    justify-content: space-evenly;
}
/* classe per le colonne del primo blocco */
.col{
    width: 30%;
    border: 1px solid gray;
}
/* classe per il tipo di piano della card scritto in alto */
.tipo-card{
    text-align: center;
    border-bottom: 1px solid gray;
}
/* classe per il costo del piano */
.costo{
    padding: 1rem 1rem;
}
/* classe per la scritta del costo */
.costo p{
    font-weight: bold;
}
/* classe per il tipo di costo */
.costo span{
    color: gray;
    font-size: 1rem;
}
/* classe per la lista del piano */
.piano ul{
    list-style-type: none;
}
/* classe per i li del piano  */
.piano li{
    padding: 0.5rem;
}
/* classe per il bottone */
.prova{
    text-align: center;
    padding-bottom: 1.5rem;
}
/* classe per togliere la linea dal link nel bottone della prova */
.prova a{
    text-decoration: none;
}
/* classe per le altre opzioni */
.optional{
    margin-left: 1.5rem;
}
.optional a{
    color: #0f11ef;
}
/* classe per la riga */
.card hr{
    width: 20%;
    margin-left: 1.5rem;
}
/* classe per i punti del piano */
.point-piano h4{
    padding-left: 0.8rem;
}
/* classe per la lista dei punti salienti del piano */
.point-piano ul{
    list-style-type: none;
}
/* classe per i li della lista dei punti salienti */
.point-piano li{
    margin-top:  1rem; 
}
.spunta-blue{
    color: #2b84ff;
}
/* classe del rettangolo del secondo blocco */
.rettangolo{
    border: 1px solid gray;
    margin-top: 100px;
    width: 100%;
}
/* classe per la riga  */
.row-info-card{
    display: flex;
}
/* classe per la colonna piú grande  */
.col-info-b{
    width: 70%;
    padding: 1.5rem;
}
/* classe per la scritta dentro la colonna */
.col-info-b p{
    font-weight: bold;
}
/* classe per la colonna piú piccola */
.col-info-s{
    width: 30%;
    padding-top: 1rem;
}
/* classe per il bottone nella colonna piú piccola */
.col-info-s a{
    text-decoration: none;
}
/* SECONDO BLOCCO */
/* classe per il bordo del secondo blocco */
.secondo-blocco{
    margin-bottom: 100px;
}
/* classe della riga del secondo blocco */
.rowp{
    display: flex;
    justify-content: space-evenly;
}
/* classe della colonna piú grande del secondo blocco */
.colb{
    width: 60%;
}
/* classe della colonna piú piccola del secondo blocco */
.cols{ 
    width: 35%;
}
/* classe per il titolo del secondo blocco */
.cols h3{
    font-size: 1.5rem;
}
/* classe per il bottone del blocco */
.special-b{
    border: 2px solid gray;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1.3rem;
}
/* TERZO BLOCCO */
/* classe per il terzo blocco */
.terzo-blocco{
    margin-bottom: 100px;
}
/* classe per il titolo del terzo blocco */
.titolo-tb{
    font-size: 1.5rem;
}
/* classe per la riga del terzo blocco */
.rowtb{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* classe per le colonne del terzo blocco */
.coltb{
    width: 30%;
}
/* QUARTO BLOCCO */
/* classe del quarto blocco */
.quarto-blocco{
    width: 100%;
    padding: 1rem;
}
/* classe per il titolo del quarto blocco */
.qb-titolo{
    font-size: 1.7rem;
    width: 70%;
    margin-bottom: 2rem;
}
/* classe per il link del quarto blocco */
.qb-link a{
    color: #0f11ef ;
}
/* BLOCCO SUPERIORE CON I QUADRATI */
/*classe per il blocco principale superiore */
.block-up{
    width: 100%;
    min-height: 500px;
}
/* classe per la riga del blocco */
.row-blockup{
    display: flex;
    justify-content: space-between;
}
/* classe per la colonna del blocco */
.col-blockup{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}
/* classe per i quadrati */
.square{
    width: 50%;
    aspect-ratio: 1/1;
}
/* classi per i colori dei quadrati */
.s-green{
    background-color: #a2d39b;
}
.s-purple{
    background-color: #61082b;
}
.s-cyan{
    background-color: #0093ce;   
}
.s-red{
    background-color: #ff1c1c;
}
.s-reds{
    background-color: #d5001f;
}
.s-light-blue{
    background-color: #b4d0e7;
}
.s-blue{
    background-color:#0d2481;
}
.s-yellow{
    background-color: #ffd830;
}
/* classe per il container del quadrato */
.square-img{
    width: 100%;
    height: 100%;
}
/* classe del container dell'immagine nel quadrato */
.container-img{
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* classe dell'immagine nel quadrato */
.special-img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}


/* classe per la colonna speciale del blocco */
.col-blockup-s{
    width: 33%;
    font-size: 1.2rem;
    overflow-y: auto;
}
/* BLOCCO INFERIORE */
/* classe del blocco inferiore */
.block-under{
    width: 100%;
     /* debug */
    min-height: 300px;
    background-color: lightblue;
    border: 3px solid black;
}
/*classe della riga del blocco inferiore */
.row-under{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
/* classe della colonna grande del blocco inferiore */
.col-underb{
    width: 60%;
     /* debug */
    min-height: 300px;
    background-color: red;
}
/* classe della colonna piccola del blocco inferiore */
.col-unders{
    width: 35%;
     /* debug */
    min-height: 300px;
    background-color: teal;
}
/* FOOTER */
/* classe del footer */
footer{
    /* debug */
    background-color: black;
    min-height: 500px;
    width: 100%;
}
/* classe del blocco del footer */
.block-footer{
    /* debug */
    width: 70%;
    min-height: 500px;
    margin: 0 auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* classe per la parte superiore del footer */
.fot-up{
    padding: 1rem;
    width: 100%;
    /* debug */
    min-height: 350px;
    background-color: greenyellow;
    border: 3px solid red;
}
/* classe per la parte inferiore del footer */
.fot-under{
   width: 100%;
   /* debug */
   min-height: 100px;
   background-color: aquamarine;
   border: 3px solid red;
}
/* classe per la riga del footer superiore */
.row-fot-up{
    display: flex;
    justify-content: space-around;
}
/* classe per le colonne del footer superiore */
.col-fot-up{
    width: 15%;
    /* debug */
    min-height: 300px;
    background-color: lightseagreen;
    border: 3px solid black;
}


/* FOOTER */
/* classe per le lista del footer */
footer ul{
    list-style-type: none;
}
/* classe per i li del footer */
footer li{
    margin-top: 1rem;
}
/* classe per gli a del footer */
footer a{
    text-decoration: none;
    color: white;
}
/* classe per il titolo della lista del footer */
footer h3{
    color: white;
}
/* classe per la riga del footer */
footer hr{
    background-color: white;
    width: 10%;
    margin-left: 3rem;
}
/* classe per il testo del footer */
.testo-footer{
    color: white;
    margin-left: 3rem;
}