/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
img{
    max-width: 100%;
}
/* classe per il body */
body{
    font-family: 'Open Sans', sans-serif;
}
/* COMMON CLASS */
/* classe in comune per i container grandi (larghezza maggiore)*/
.container-b{
    margin:0 auto;
    width: 1200px;
}
/* classe in comune per i container piccoli (larghezza minore) */
.container-s{
    margin: 0 auto;
    width: 1000px;
    /* debug */
    min-height: 3000px;
    border: 3px solid black;
    margin-bottom: 100px;
}
.container-ss{
    margin: 100px auto;
    width: 1000px;
    /* debug */
    min-height: 600px;
    background-color: violet;
    border: 3px solid black;
}
/* classe in comune per tutti i bottoni blu */
.button{
    background-color: #0061ff;
    color: #d9e8ff;
    padding: 0.5rem 1.3rem;
}
/* HEADER*/
header{
    width: 100%;
    height: 570px;
    background-color: #b4d0e7;
    margin-bottom: 80px;
}
/* classe per la barra dell'header */
.bar-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
}
/* classe per il blocco della barra dell'header di sinistra */
.bar-l{
    padding: 1.5rem;
}
/* classe per il blocco della barra dell'header di destra */
.bar-r{
    padding: 1.5rem;
}
/* classe per la lista dentro la barra dell'header */
header ul{
    list-style-type: none;
    display: flex;
}
/* classe per i li dentro la lista dell'header */
header li{
    margin-right: 20px;
}
/* classe per le a dentro l'header */
header a{
    text-decoration: none;
    color: black;
}
/* classe per il nome di dropbox dentro la barra dell'header */
.name{
    font-weight: bold;
    font-size: 1.2rem;
}
/* id per colorare di blu il simbolo di dropbox */
#blue{
    color: #0061ff;
}
/* classe per il titolo */
.titolo{
    /* margine per spingere il titolo sotto l'header */
    margin-top: 100px;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
/* classe per l'hero dentro l'header */
.hero{
    display: flex;
    justify-content: space-between;
}
/* classe per la colonna di sinistra dell'hero */
.col-s{
    width: 30%;
}
/* classe per il testo dell'hero */
.testo-hero{
    padding-bottom: 2rem;
}
/* classe per il testo sotto il bottone dell'hero */
.testo-hero-sotto{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* classe per la freccia dell'hero */
.freccia-hero{
    font-size: 3rem;
}
/* classe per la colonna di destra dell'hero */
.col-b{
    padding: 1rem;
    width: 60%;
}
/* MAIN */
/* PRIMO BLOCCO */
/* classe per il bordo del primo blocco */
.primo-blocco{
    /* debug */
    border: 3px solid green;
    margin-bottom: 100px;
}
/* classe per il blocco con 3 colonne */
.col-3{
    width: 100%;
    /* debug */
    min-height: 600px;
    background-color: pink;
    padding: 1rem;
}
/* classe per la riga del primo blocco */
.row{
    display: flex;
    justify-content: space-evenly;
    /* debug */
    background-color: aquamarine;
}
/* classe per le colonne del primo blocco */
.col{
    width: 30%;
    /* debug */
    min-height: 550px;
    background-color: yellow;
}
/* SECONDO BLOCCO */
/* classe per il bordo del secondo blocco */
.secondo-blocco{
    /* debug */
    border: 3px solid red;
    margin-bottom: 100px;
}
/* classe del rettangolo del secondo blocco */
.rettangolo{
    /* debug */
    margin-top: 10px;
    min-height: 300px;
    width: 100%;
    background-color: violet;
}
/* classe della riga del secondo blocco */
.rowp{
    display: flex;
    justify-content: space-evenly;
    /* debug */
    background-color: aquamarine;
}
/* classe della colonna piú grande del secondo blocco */
.colb{
    width: 60%;
    /* debug */
    min-height: 550px;
    background-color: yellow;
}
/* classe della colonna piú piccola del secondo blocco */
.cols{ 
    width: 35%;
    /* debug */
    min-height: 550px;
    background-color:pink;
}
/* TERZO BLOCCO */
/* classe per il terzo blocco */
.terzo-blocco{
    /* debug */
    border: 3px solid cyan;
    margin-bottom: 100px;
}

/* classe per la riga del terzo blocco */
.rowtb{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* debug */
    background-color: lightgreen;
}
/* classe per le colonne del terzo blocco */
.coltb{
    width: 30%;
    /* debug */
    min-height: 500px;
    background-color: red;
}
/* QUARTO BLOCCO */
/* classe del quarto blocco */
.quarto-blocco{
    width: 100%;
    /* debug */
    min-height: 400px;
    background-color:lightblue;
    border: 3px solid red;
    margin-bottom: 100px;
}
/* BLOCCO SUPERIORE CON I QUADRATI */
/*classe per il blocco principale superiore */
.block-up{
    width: 100%;
    /* debug */
    min-height: 500px;
    background-color: blue;
    border: 3px solid black;
}
/* classe per la riga del blocco */
.row-blockup{
    display: flex;
    justify-content: space-between;
}
/* classe per la colonna del blocco */
.col-blockup{
    width: 33%;
     /* debug */
    min-height: 500px;
    background-color: aliceblue;
}
/* classe per la colonna speciale del blocco */
.col-blockup-s{
    width: 33%;
     /* debug */
    min-height: 500px;
    background-color: gray;
}
/* BLOCCO INFERIORE */
/* classe del blocco inferiore */
.block-under{
    width: 100%;
     /* debug */
    min-height: 300px;
    background-color: lightblue;
    border: 3px solid black;
}
/*classe della riga del blocco inferiore */
.row-under{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
/* classe della colonna grande del blocco inferiore */
.col-underb{
    width: 60%;
     /* debug */
    min-height: 300px;
    background-color: red;
}
/* classe della colonna piccola del blocco inferiore */
.col-unders{
    width: 35%;
     /* debug */
    min-height: 300px;
    background-color: teal;
}
/* FOOTER */
/* classe del footer */
footer{
    /* debug */
    background-color: black;
    min-height: 500px;
    width: 100%;
}
/* classe del blocco del footer */
.block-footer{
    /* debug */
    width: 70%;
    min-height: 500px;
    margin: 0 auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* classe per la parte superiore del footer */
.fot-up{
    padding: 1rem;
    width: 100%;
    /* debug */
    min-height: 350px;
    background-color: greenyellow;
    border: 3px solid red;
}
/* classe per la parte inferiore del footer */
.fot-under{
   width: 100%;
   /* debug */
   min-height: 100px;
   background-color: aquamarine;
   border: 3px solid red;
}
/* classe per la riga del footer superiore */
.row-fot-up{
    display: flex;
    justify-content: space-around;
}
/* classe per le colonne del footer superiore */
.col-fot-up{
    width: 15%;
    /* debug */
    min-height: 300px;
    background-color: lightseagreen;
    border: 3px solid black;
}