/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
img{
    max-width: 100%;
}
/* COMMON CLASS */
/* classe in comune per i container grandi (larghezza maggiore)*/
.container-b{
    margin:0 auto;
    width: 1200px;
}
/* classe in comune per i container piccoli (larghezza minore) */
.container-s{
    margin: 0 auto;
    width: 1000px;
    /* debug */
    min-height: 3000px;
    border: 3px solid black;
    margin-bottom: 100px;
}
.container-ss{
    margin: 0 auto;
    width: 1000px;
    /* debug */
    min-height: 1000px;
    background-color: violet;
    margin-bottom: 100px;
}
.block{
    width: 100%;
    /* debug */
    min-height: 500px;
    background-color: blue;
}
/* HEADER*/
header{
    width: 100%;
    /* debug */
    min-height: 700px;
    background-color: lightblue;
    border: 3px solid black;
    margin-bottom: 100px;
}
/* classe per la barra dell'header */
.bar-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* debug */
    height: 80px;
    background-color: green;
}
/* classe per il blocco della barra dell'header di sinistra */
.bar-l{
    /* debug */
    background-color: gray;
    width: 400px;
}
/* classe per il blocco della barra dell'header di destra */
.bar-r{
    /* debug */
    background-color: gray;
    width: 400px;
}
/* classe per il titolo */
.titolo{
    text-align: center;
    /* debug */
    background-color: lightcyan;
}
/* classe per l'hero dentro l'header */
.hero{
    display: flex;
    justify-content: space-evenly;
    /* debug */
    min-height: 500px;
    background-color: lightgreen;
}
/* classe per la colonna di sinistra dell'hero */
.col-s{
    width: 30%;
    /* debug */
    height: 500px;
    background-color: red;
}
/* classe per la colonna di destra dell'hero */
.col-b{
    width: 60%;
    /* debug */
    height: 500px;
    background-color: aqua;
}
/* MAIN */
/* PRIMO BLOCCO */
/* classe per il bordo del primo blocco */
.primo-blocco{
    /* debug */
    border: 3px solid green;
    margin-bottom: 100px;
}
/* classe per il blocco con 3 colonne */
.col-3{
    width: 100%;
    /* debug */
    min-height: 600px;
    background-color: pink;
    padding: 1rem;
}
/* classe per la riga del primo blocco */
.row{
    display: flex;
    justify-content: space-evenly;
    /* debug */
    background-color: aquamarine;
}
/* classe per le colonne del primo blocco */
.col{
    width: 30%;
    /* debug */
    min-height: 550px;
    background-color: yellow;
}
/* SECONDO BLOCCO */
/* classe per il bordo del secondo blocco */
.secondo-blocco{
    /* debug */
    border: 3px solid red;
    margin-bottom: 100px;
}
/* classe del rettangolo del secondo blocco */
.rettangolo{
    /* debug */
    margin-top: 10px;
    min-height: 300px;
    width: 100%;
    background-color: violet;
}
/* classe della riga del secondo blocco */
.rowp{
    display: flex;
    justify-content: space-evenly;
    /* debug */
    background-color: aquamarine;
}
/* classe della colonna piú grande del secondo blocco */
.colb{
    width: 60%;
    /* debug */
    min-height: 550px;
    background-color: yellow;
}
/* classe della colonna piú piccola del secondo blocco */
.cols{ 
    width: 35%;
    /* debug */
    min-height: 550px;
    background-color:pink;
}
/* TERZO BLOCCO */
/* classe per il terzo blocco */
.terzo-blocco{
    /* debug */
    border: 3px solid cyan;
    margin-bottom: 100px;
}

/* classe per la riga del terzo blocco */
.rowtb{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* debug */
    background-color: lightgreen;
}
/* classe per le colonne del terzo blocco */
.coltb{
    width: 30%;
    /* debug */
    min-height: 500px;
    background-color: red;
}
/* QUARTO BLOCCO */
/* classe del quarto blocco */
.quarto-blocco{
    width: 100%;
    /* debug */
    min-height: 400px;
    background-color:lightblue;
    border: 3px solid red;
    margin-bottom: 100px;
}

